# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

chroma_db_files/
venv
env
client/node_modules/
zoomsdk/__pycache__/
client/.next/
users/__pycache__/
users/migrations/__pycache__/
tenant/__pycache__/
tenant/migrations/__pycache__/
schedule/migrations/__pycache__/
schedule/__pycache__/
questions/__pycache__/
questions/migrations/__pycache__/
job/__pycache__/
job/migrations/__pycache__/
intbot/__pycache__/
intbot/migrations/__pycache__/
djangointerviewbot/__pycache__/
candidate/__pycache__/
candidate/migrations/__pycache__/

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

# e2e tests
/test-results/
/playwright-report/
/playwright/.cache/